<%= render 'layouts/navigation' %>
<div id ="body">
	<div id="error">
  <%= render 'layouts/messages' %>
</div>
	<div class="container">
	<div id="background">
		<h1>BookHub</h1>
		<h3>The right book will always keep you company</h3>
		<p id="match"></p>
		<p>
      <%= link_to 'Shop Now!', signup_path, class: "btn btn-primary btn-lg" %>
		</p>
		<br>
		<br>
		<br>
		<br>
		<br>
</div>
</div>
</div>
<%= render 'layouts/footer' %>
